body {
    font-family: sans-serif;
}

.navbar-brand {
    margin-top: -13px;
}

h1, h4 {
  text-align: center;
  font-weight: lighter;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}