{% extends "base.html" %}

{% block title %}Detalles de los mensajes {% endblock title %}
{% block page_content %}
<div class="container-fluid">
    <div class="col-sm-6 col-md-6 col-md-offset-3  wow fadeInLeft" data-wow-delay="0.5s">
        <div class="detallesmensajes">
            <h1>Detalles de los mensajes</h1>
            <hr size="10"/>
            <b>Message ID:</b> <p>{{ message.key.id() }}</p>
            <b>Asunto:</b> <p>{{ message.asunto }}</p>
            <b>Email:</b> <p>{{ message.email }}</p>
            <b>Texto:</b> <p>{{ message.texto }}</p>
            <b>Fecha:</b> <p>{{ message.created }}</p>
            <a href="/message/{{ message.key.id() }}/editar"><b>Editar mensaje</b></a>
            <br>
            <a href="/message/{{ message.key.id() }}/borrar"><b>Borrar mensaje</b></a>
        </div>
    </div>
</div>
{% endblock page_content %}